<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [3]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
len(neptuneOutermoons)

7

<h3>Exercise 9</h3>
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [ ]:
# Oplossing

neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]

# Oplossing

len(neptuneInnerMoons) == len(neptuneOutermoons)

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [ ]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [ ]:
neptuneOutermoons.sort()
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [ ]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

<h3>Elementen toevoegen</h3>

In [4]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]


neptuneMoons = []

for neptuneOuterMoon in neptuneOutermoons:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)

neptuneMoons.sort()    
    
print(neptuneMoons)

['Triton', 'Halimede', 'Sao', 'Psamathe', 'Laomedeia', 'Neso', 'Nereid', 'Naiad', 'Thalassa', 'Despina', 'Galatea', 'Proteus', 'Hippocamp', 'Larissa']

<h3>Elementen verwijderen</h3>

In [ ]:
neptuneMoons.remove('Naiad')
print(neptuneMoons)

**Gebruik <i>pop()</i> om het laaste element <u>uit</u> de lijst te halen**

In [11]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
neptuneMoons.remove('Naiad')
print(neptuneMoons)

firstNeptuneMoon = neptuneMoons.pop()
print(f"Popped {firstNeptuneMoon} from neptuneMoons")
print(f"{neptuneMoons}")

['Triton', 'Halimede', 'Sao', 'Psamathe', 'Laomedeia', 'Neso', 'Nereid', 'Thalassa', 'Despina', 'Galatea', 'Proteus', 'Hippocamp', 'Larissa']
Popped Larissa from neptuneMoons
['Triton', 'Halimede', 'Sao', 'Psamathe', 'Laomedeia', 'Neso', 'Nereid', 'Thalassa', 'Despina', 'Galatea', 'Proteus', 'Hippocamp']

<h3>Excercise 10</h3>
<p>Maak een nieuwe lijst <i>lowerMoons</i> met alle <u>neptuneMoons</u> in <u>lowercase</u>.

In [10]:

neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOuterMoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]

neptuneMoons = []


for neptuneOuterMoon in neptuneOuterMoons:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)


lowerMoons = map(lambda moon: moon.lower(), neptuneMoons)

print(list(lowerMoons))

['triton', 'halimede', 'sao', 'psamathe', 'laomedeia', 'neso', 'nereid', 'naiad', 'thalassa', 'despina', 'galatea', 'proteus', 'hippocamp', 'larissa']

<h3>Map en join</h3>

In [ ]:
iterator = map(lambda moon: moon.upper(), neptuneInnerMoons)
print(list(iterator))

In [1]:
neptuneInnerMoonsStr = ", ".join(map(str,sorted(neptuneInnerMoons))) 
print( f"In order of increasing distance, the list of { len(neptuneInnerMoons) } regular Neptune moons is {neptuneInnerMoonsStr}." )

NameError: name 'neptuneInnerMoons' is not defined